.cont {
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 10px 5px 5px rgb(241, 126, 18);
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://t3.ftcdn.net/jpg/04/83/90/18/360_F_483901821_46VsNR67uJC3xIKQN4aaxR6GtAZhx9G8.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(5px) brightness(0.6);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  .cont {
    font-size: 3vw;
    width: 98%;
    height: 90%;
  }
}
input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
}
.scr {
  overflow-y: auto;
  overflow-x: inherit;
}
